body {
  margin: 20px;
  text-align: center;
}

#warp {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 900px;
}

.colorCatalog {
  width: 288px;
  overflow: hidden;
  margin-top: 10px;
  border: 1px solid #aaaaaa;
}

@media only screen and (min-width: 864px) {
  .colorCatalog {
    width: 864px;
  }
}


