body {
  margin: 20px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background: #f0f0f0;
}

#page-title {
  font-size: 18px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}

#page-title div {
  width: 230px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

#page-title img, #page-title span {
  float: left;
}

#page-title span {
  margin: 5px 0 0 5px;
}

#warp, #canvas-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 900px;
}

.warp-palette-wrapper {
  overflow: hidden;
  width: 100%;
}

.warp-palette {
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.warp-palette .palette-entry {
  float: left;
  margin: 7px;
  width: 28px;
  height: 45px;
}

.colorCatalog {
  overflow: hidden;
}

.selected-color-name {
  font-size: 12px;
  clear: both;
  padding-top: 3px;
  margin-left: -100%;
  margin-right: -100%;
}

.paletteButton {
  border-radius: 2px;
}

.warp-controls-wrapper {
  width: 100%;
  overflow: hidden;
}

.warp-controls {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 300px;
}

.warp-template {
  float: left;
  width: 142px;
}

.warp-template-select {
  float: left;
  font-size: 10px;
}

.default-colors {
  float: left;
  margin-top: 3px;
}

.default-colors button {
  font-size: 10px;
  border-radius: 5px;
}

.weft-color {
  margin-left: 50px;
  float: right;
}

.weft-color div {
  float: left;
}

.weft-color-name, .share-link {
  font-size: 10px;
}

.weft-color-name {
  margin: 8px 0 0 3px;
}

.undo-redo {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}

.undo-redo-buttons {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.undo-button, .redo-button {
  float: left;
  margin: 10px;
  height: 30px;
}

.shareAndImport {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.share-link {
  float: left;
  margin-right: 5px;
  margin-top: 7px;
}

.shareAndImport input {
  float: left;
  width: 210px;
  font-size: 6px;
  margin-top: 6px;
}

button {
  border: 1px solid #a6a6a6;
  background: #f8f8f8;
}

button.clipboard-copy {
  float: left;
  padding: 3px 3px 2px 5px;
  margin-left: 5px;
  border-radius: 3px;
}

.btn-icon {
    width: 15px;
}
