body {
  margin: 20px;
  text-align: center;
}

#warp, #canvas-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 800px;
}

.palette-controls {
  overflow: hidden;
  margin-top: 10px;
}

.weft-label {
  float: left;
  margin-top: 15px;
}

.weft-palette {
  float: right;
  overflow: hidden;
  font-size: 12px;
  margin-right: 30px;
}

.warp-palette {
  overflow: hidden;
}

.colorCatalog {
  overflow: hidden;
  margin-top: 10px;
}

.paletteButton {
  border-radius: 2px;
}

.shareAndImport {
}

input.shareAndImport {
  margin-top: 30px;
  font-size: 10px;
  width: 390px;
}
